/* You can add global styles to this file, and also import other style files */
body{
  margin: 0;
  padding: 0;
  background: #dedede;
  color: #333;
  text-align: center;
  font-family: sans-serif;
}
