<div id="cleaner">

  <form [formGroup]="eaForm" (ngSubmit)="onSubmit(eaForm)">
    <textarea
      name="req"
      [formControl]="eaForm.controls['req']">
    </textarea>
    <input type="submit" value="Go"/>
  </form>

<!-- *ngIf="result" -->
  <div *ngIf="result">
    <div  id="result">
      <h2>Result</h2>
      <textarea>{{result}}</textarea>
    </div>
    <div  id="details">
      <h2>Details</h2>
      <table>
        <tr>
          <th>Name</th>
          <th>Value</th>
        </tr>
        <tr *ngFor="let i of JSObject.keys(details)">
          <td>{{i}}</td>
          <td>{{URI_decode(details[i])}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
